@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

* {
  font-family: "Quicksand", serif;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;  
}

.backgroundContainer {
  background-image: url("./img/background.png");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

.introImage {
  background-color: #23262D;
  height: 100vh;
}

.intro {
  background-color: #23262D;
}

.introLogo{
  height: 85%;
}

.navbar {
  width: 100%;
  background-image: linear-gradient(to bottom, #23262D 0%, #23262D 100%);
}

.navbar a{
  color:#bcf2ff;
}

#avatar {
  border-radius: 50%;
}

.userBtn {
  height: 30px;
}

#footerNav {
  background-image: linear-gradient(to bottom, #23262D 0%, #23262D 100%);
}

.text-footer {
  font-size: 12px;
  color:#bcf2ff;
}

.title-footer {
  color:#bcf2ff;
}

.avatarAndSignOut {
  display:flex;
  padding-top: 2%;
  gap: 10px;
}

.errorLabel {
  color: red;
}

.card {
  width: 80%;
  margin: auto;
}

.introImage{
  background-image: url("./img/intro.gif");
  background-repeat:no-repeat;
  background-size:contain;
  background-position:center;
}

#btnIntro {
  position:absolute; 
   margin-left:-50px;
   left:50%;
   width:100px;
   bottom:20px;
   animation: show 0s both;
   animation-delay: 8s;
}

@keyframes show {
  from {
    visibility: hidden;
  }
  
  to {
    visibility: visible;
  }
}

form label{
  color: #fff;
}

form {
  width: 70%;
  margin:auto;
}

#alert2 {
  margin-top: 2%;
}

.btnPartecipate {
  margin-left: 2%;
}

.separator {
  width: 2%;
}



@media screen and (min-width: 500px) {

.userCard {
  width: 60%;
}

#otherUserCard {
  width: 40%;
}

.notificationCard {
  width: 90%;
}

}

@media screen and (max-width: 500px) {

  .introImage {
    background-image: url("./img/intro.gif");
    background-repeat:no-repeat;
    background-size:contain;
    background-position:center;
  }

  .userCard {
    width: 100%;
  }
  
  .notificationCard {
    width: 100%;
  }
  
}